.block,
.transaction,
.account,
.validator {
  margin-bottom: 50px;

  @include from-768-down {
    margin-bottom: 100px;
  }

  &__loading {
    margin: 50px 0;
  }

  &__icon {
    font-size: 24px;
    color: $color-primary;
    margin-right: 10px;
  }

  &__header {
    color: $color-gray-999;
    font-weight: 700;
    margin-bottom: 5px;

    &--accent {
      font-size: 18px;
    }
  }

  &__time-ago {
    color: $color-gray-333;
    font-size: 15px;
    font-weight: 700;
  }

  &__navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
  }

  &__section {
    height: 100%;

    &--table {
      & .table {
        box-shadow: none;
      }

      & .card-body {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding: 0;
      }

      & .pagination {
        margin: 20px;
      }
    }

    & .card {
      height: 100%;
    }
  }

  &__content {
    margin-bottom: 10px;
    padding: 5px 0;
    color: $color-gray-333;
    font-weight: bold;
    text-align: center;
  }

  &__logotype {
    padding: 0;
    margin-bottom: 7px;

    & img {
      border-radius: 4px;
    }

    &--white {
      padding: 10px;
      background-color: #000;
    }
  }

  &__logo {
    display: inline-block;
    max-width: 100%;
  }

  &__copy {
    cursor: pointer;
  }

  &__empty {
    margin: auto;
    padding: 50px 0;
    font-size: 24px;
    color: $color-primary;
  }

  &__col {
    @include from-768-down {
      margin-bottom: 50px;
    }
  }
}
