.card {
  &--home {
    height: 100%;

    & .card-text {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    & .card-title {
      font-size: 20px;
    }

    & .card-text {
      font-size: 26px;
    }
  }
  &--link {
    & .card-body {
      cursor: pointer;
    }
  }

  &-title {
    font-size: 18px;
    margin-bottom: 40px;
    font-weight: 700;
    color: $color-gray-999;
    text-align: center;
  }

  &-text {
    font-size: 16px;
    font-weight: 700;
    color: $color-gray-333;
  }
}
