.list {
  &-actions {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  &__button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    border: none;
    background: transparent;

    &:hover {
      & .list__icon {
        transform: rotate(180deg);
        transition: all .2s ease-in-out;
      }
    }

    &:active:focus {
      outline: none !important;
      box-shadow: none !important;
    }

    &:hover,
    &:active,
    &:focus {
      &.disabled {
        color: $color-primary !important;
      }

      outline: none;
      box-shadow: none;
      background-color: transparent !important;
      color: $color-primary !important;
    }

    &:focus {
      box-shadow: none;
    }

    &--loading {
      color: $color-primary !important;
      background: none;
      border: none;
      outline: none;
      box-shadow: none;

      &:hover,
      &:focus {
        color: $color-white !important;;
        background: none;
        outline: none;
        border: none;
        box-shadow: none;
      }
    }
  }

  &__icon {
    margin-left: 5px;
    transform: rotate(360deg);
    transition: all .2s ease-in-out;
  }

  & .date-from-now {
    font-size: 14px;
    color: #999;
  }
}