.operations-list,
.transactions-list {
  &__actions {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  &__icon {
    margin-left: 10px;

    @include from-480-down {
      display: none;
    }
  }

  &__date {
    margin-left: 10px;
    font-weight: 700;
    color: $color-white;
  }

  & .date-from-now {
    font-size: 14px;
    color: #999;
  }

  &__filter {
    margin-bottom: 10px;
    font-family: $open-sans;
    font-size: 16px;
  }

  &__reset {
    margin-right: 10px;
    & .btn-secondary {
      background-color: $color-primary !important;
      border-color: $color-primary !important;
    }
  }

  &__btn {
    &:focus,
    &:active,
    &:hover,
    &:active:focus {
      box-shadow: none !important;
    }
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  &__title {
    margin-bottom: 5px;
    font-family: $open-sans;
    font-size: 16px;
    color: $color-gray-666;
  }

  &__calendar {
    margin-right: 10px;
    text-align: center;
    background-color: $color-primary;
    border-radius: 4px;
  }

  &__label {
    font-size: 15px;
    font-weight: bold;
    color: #fff;
  }

  &__icon {
    margin-left: 5px;
  }

  &__table {
    position: relative;

    &--disabled {
      & a {
        pointer-events: none;
      }

      &:before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: block;
        background-color: $color-primary-transparent-01;
      }
    }
  }
}

.transactions-dropdown {
  &__content {
    min-width: 150px;
    font-size: 15px;

    & form {
      padding: 0.25rem 0.7rem;
    }

    & form:focus {
      outline: none !important;
    }

    & label {
      margin-bottom: 0;
      padding-left: 0.5rem;
    }

    & .custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
      background-color: green!important;
    }

    & .custom-checkbox .custom-control-input:checked:focus ~ .custom-control-label::before {
      box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(0, 255, 0, 0.25)
    }

    & .custom-checkbox .custom-control-input:focus ~ .custom-control-label::before {
      box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(0, 0, 0, 0.25)
    }

    & .custom-checkbox .custom-control-input:active ~ .custom-control-label::before {
      background-color: #C8FFC8;
    }
  }

  & .btn-secondary {
    display: flex;
    align-items: center;
    font-size: 15px;
    background-color: $color-primary !important;
    border: 2px solid $color-primary !important;
    font-weight: bold;
    border-radius: 4px;
  }

  &--disabled:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    background-color: $color-primary-transparent-01;
    pointer-events: none;
  }
}