.search,
.settings {
  &__row {
    flex-direction: column;
  }

  &__icon {
    font-size: 20px;
    color: $color-gray-999;
    cursor: pointer;
    @extend .animations__default;

    &:hover {
      @extend .animations__default--hover;
    }
  }

  &__form {
    z-index: 1500;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $color-white;
    overflow: auto;
  }

  &__close {
    cursor: pointer;
    display: inline-block;
    padding: 10px;
    position: absolute;
    top: 10px;
    right: 10px;

    &:hover {
      & svg {
        @extend .animations__default--hover;
      }
    }

    & svg {
      font-size: 35px;
      color: $color-gray-999;
      @extend .animations__default;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;

    @include from-768-down {
      padding: 0 15px;
    }
  }

  &__title {
    font-size: 38px;
    line-height: 46px;

    @include from-480-down {
      font-size: 35px;
    }
  }

  &__subtitle {
    margin-bottom: 70px;
    font-size: 19px;
    line-height: 29px;
    font-weight: 300;
    color: $color-gray-999;

    @include from-480-down {
      margin-bottom: 30px;
      font-size: 16px;
    }
  }

  &__controls {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.05);
    background-color: $color-white;

    &--inline {
      display: inline-block;
      margin: auto;
      width: 400px;
      text-align: left;

      @include from-992-down {
        width: 100%;
      }
    }

    @include from-768-down {
      flex-direction: column;
    }
  }

  &__label {
    position: absolute;
    top: 10px;
    left: 16px;
    margin: 0;
    padding: 15px;
    cursor: pointer;
  }

  &__input {
    width: 69%;
    margin-right: 1%;
    height: 100%;
    padding: 15px 15px 15px 55px;
    font-size: 19px;
    font-weight: 300;
    line-height: 29px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;

    @include from-768-down {
      width: 100%;
      margin-bottom: 15px;
    }

    @include from-480-down {
      font-size: 16px;
    }

    &::-webkit-input-placeholder,
    &:-ms-input-placeholder,
    &::-moz-placeholder,
    &:-moz-placeholder {
      font-size: 19px;
      font-weight: 300;
      color: $color-gray-999;


      @include from-480-down {
        font-size: 16px;
      }
    }

    &:active,
    &:focus {
      /*border: none;*/
      outline: none;
      box-shadow: none;
    }
  }

  &__submit {
    width: 30%;
    outline: none;
    padding: 17px 0;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 14px;
    color: $color-white;
    background-color: $color-primary;
    text-transform: uppercase;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.05);
    border: 1px solid $color-primary;
    border-radius: 4px;

    &:hover,
    &:active {
      color: $color-white !important;
    }

    &--loading {
      color: $color-primary;
      background: $color-white;

      &:hover,
      &:focus {
        color: $color-primary;
        background: $color-white;
        outline: none;
        border: none;
        box-shadow: none;
      }
    }

    @include from-768-down {
      width: 100%;
    }

    @include from-480-down {
      font-size: 13px;
    }

    &:focus {
      outline: none;
    }
  }

  &--height-100-vh {
    height: 100vh;
  }
}
